.features {
    @apply bg-cover bg-center -mt-28 pt-44 pb-32 flex flex-col items-center justify-center relative;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    background-image: linear-gradient(
            to right bottom,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
        ),
        url(../assets/bigcar2.webp);
    z-index: 7;

    &__container {
        @apply w-5/6 flex justify-evenly;

        & > div {
            @apply h-80 rounded-xl flex flex-col items-center text-center;
            width: 18%;
            background-color: rgba(255, 255, 255, 0.7);
            transition: all 0.2s;
            opacity: 0.9;
            box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);

            p {
                @apply w-11/12 my-auto;
            }

            &:hover {
                transform: translateY(-0.3rem) scale(1.06);
                opacity: 1;
                box-shadow: 0 2rem 4.5rem rgba(0, 0, 0, 0.5);
            }
        }

        i {
            @apply inline-block text-5xl bg-clip-text text-transparent my-7;
            background-image: linear-gradient(
                to right bottom,
                rgb(141, 128, 128),
                black
            );
        }
    }
}

@media (max-width: 800px) {
    .features {
        clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);

        &__container {
            @apply flex-col justify-evenly w-8/12;

            & > div {
                @apply w-full;
            }

            div:not(:last-child) {
                @apply mb-6;
            }

            i {
                @apply mt-7;
            }
        }
    }
}
