.header {
    @apply bg-cover bg-center flex flex-col justify-evenly items-center relative;
    background-image: linear-gradient(
            to right bottom,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
        ),
        url(../assets/bigcar.webp);
    height: 85vh;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    z-index: 10;

    &__logo {
        @apply flex h-12 absolute top-4 text-gray-200 items-center text-lg font-medium;

        img {
            @apply w-8 h-8 mr-2;
        }
    }

    &__text {
        @apply h-1/6 flex flex-col justify-around text-gray-200 w-10/12;

        p {
            @apply text-2xl mt-4;
        }
    }
}

@media (max-width: 800px) {
    .header {
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }
}
